.wy-side-nav-search, .wy-nav-top {
  background-color: #654D53;
}
.wy-side-nav-search input[type=text] {
  border-color: #654D53;
}


.wy-nav-content a:visited {
  color: #2980B9;
}

a.toctree-l4 {
   display: none;
}

.wy-nav-content-wrap {
   background-color: inherit;
}

/* custom "aside" elements */
aside {
   line-height: 24px;
   margin: 0;
   font-size: 16px;
   margin-bottom: 24px;
   background-color: #f3f6f6;
   border: 1px solid rgba(0,0,0,0.1);
   padding: 1em;
}

@media screen and (min-width: 920px) {

  aside {
    width: 40%;
    float: right;
    margin-left: 1em;
  }

}

.rst-versions {
   display: none;
}

  /* Make docs responsive by line wrapping inside pre elements */
  pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
